body {
    margin: 0;
}

.lp_head_section {
    height: 120vh;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(/mindstormers-international-website-relaunch/pages/Landingpage/head_section/head-section-bghead_bg.svg);
}

.title-branding {
    font-weight: 900;
    font-size: 64px;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);
}

.subtitle-branding {
    font-weight: 200;
    font-size: 36px;
    line-height: normal;
    color: #FFFFFF;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
<<<<<<< HEAD
=======
}

.rotate-center {
	-webkit-animation: rotate-center 25s linear infinite both;
	        animation: rotate-center 25s linear infinite both;
}


 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Style for the service cards section */

.service-card-bg {
  height: 100%;
  width: 450px;
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(201.43deg, #BEBEBE 5.68%, #E4E4E4 95.55%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card-headtile {
  width: 409px;
  height:150px;
  background: linear-gradient(180deg, #0069A4 0%, #008DDC 55.21%, #0069A4 100%), linear-gradient(180deg, #E9E9E9 0%, #F8F7F7 57.29%, #BBBBBB 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.86);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content:center;
  align-items:flex-end;
}

.service-card-title {
  font-size: 38px;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  color:white;
}

.card-item-bg {
  width: 400px;
  height: 50px;
  background: linear-gradient(180deg, #BDBDBD 0%, #F5F5F5 50.52%, #C6C6C6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 5px 5px 10px;
  display: flex;
  align-items: center;
}

.card-item-black-selector {
  width: 40px;
  height: 50px;
  background: radial-gradient(29.50px at 50% 50%, #5E5E5E 0%, #383838 100%);
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.construction-icon-blackselector {
  width: 20px;
}

.service-card-text {
  margin: 0;
  margin-left: 2%;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.service-card-button-tile {
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(97.79deg, #0085CF 0%, #004165 102.12%);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card-button-text {
  font-size: 24px;
  color: #FAFAFA;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  text-decoration: none;

}

/* Style for the wehelp section */

.wehelp_section_wrapper {
  height: 700px;
  background: linear-gradient(180deg, #D6D6D6 0%, #9E9E9E 100%);
  margin-top: 5%;
  padding-top: 5%;
}

.wehelp-title {
  font-weight: 900;
  font-size: 72px;
  text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
}

.wehelp-text {
  text-align: center;
  margin-top: 5%;
  width: 400px;
>>>>>>> 58ffc7a... added wehelp section
}