<div class="row">
    <div class="col-lg-4 justify-content-center align-items-center" style="display:flex; flex-direction: column;">
        <div class="service-card-wrapper">
            <div class="service-card-bg">
            <div class="service-card-headtile">
                <h4 class="service-card-title"><b>ONLINE</b> MARKETING</h4>
            </div>
            <div class="carditems-wrapper mt-4 mb-4">
                <div class="card-item-bg">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Blogging</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Content Managment</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">SEO</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Google Shopping</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Google Analytics</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Google Ads</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Online Advertising</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Social Media Managment</h6>
                </div>
            </div>
        </div>
        <a href="#" style="width:100%; text-decoration: none;">
            <div class="service-card-button-tile">
            <h4 class="service-card-button-text">
                Read more
            </h4>
            </div>
        </a>
        </div>
        
    </div>
    <div class="col-lg-4 justify-content-center align-items-center" style="display:flex; flex-direction: column;">
        <div class="service-card-wrapper">
             <div class="service-card-bg" style="min-height:710px;">
            <div class="service-card-headtile">
                <h4 class="service-card-title"><b>WEB</b> ENTWICKLUNG</h4>
            </div>
            <div class="carditems-wrapper mt-4">
                <div class="card-item-bg">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Magento Entwicklung</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Wordpress Entwicklung</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Datenbanksysteme</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Web Applikationen</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">UI / UX Design</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Responsive Design Anpassungen</h6>
                </div>
            </div>
        </div>   
            <a href="#" style="width:100%; text-decoration: none;">
                <div class="service-card-button-tile">
                <h4 class="service-card-button-text">
                    Read more
                </h4>
                </div>
            </a>
        </div>
      
    </div>
    <div class="col-lg-4 justify-content-center align-items-center" style="display:flex; flex-direction: column">
        <div class="service-card-wrapper">
            <div class="service-card-bg" style="min-height:710px;">
            <div class="service-card-headtile">
                <h4 class="service-card-title"><b>OFFLINE</b> MARKETING</h4>
            </div>
            <div class="carditems-wrapper mt-4">
                <div class="card-item-bg">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Business cards</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Flyers</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Brochures</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Catalogs</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Corporate Identity</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Logo Design</h6>
                </div>
                <div class="card-item-bg mt-3">
                    <div class="card-item-black-selector">
                        <img class="construction-icon-blackselector" src="pages/Landingpage/services-cards-section/construction-icon.png"/>
                    </div>
                    <h6 class="service-card-text">Beach Flags</h6>
                </div>
            </div>
        </div>
            <a href="#" style="width:100%; text-decoration: none;">
                <div class="service-card-button-tile">
                <h4 class="service-card-button-text">
                    Read more
                </h4>
                </div>
            </a>
        </div>
        
    </div>
</div>
