<div class="wehelp_section_wrapper">
    <div class="row">
        <div class="col-lg-12 justify-content-center" style="display:flex;">
            <h1 class="wehelp-title">WIR HELFEN DIR BEI</h1>
        </div>
    </div>
    <div class="row" style="margin-top:10%;">
        <div class="col-lg-4 align-items-center" style="display:flex; flex-direction: column;">
            <img src="pages/Landingpage/wehelp_section/help_1.png"/>
            <div class="wehelp-text">
                Der Analyze deine Kunden und erstellen daraus deine Marketing Zielgruppe
            </div>
        </div>
        <div class="col-lg-4 align-items-center" style="display:flex; flex-direction: column;">
            <img src="pages/Landingpage/wehelp_section/help_2.png"/>
            <div class="wehelp-text">
                Dem erstellen von Werbecontent, dem Entwickeln von Applikationen für deine Zielgruppe
            </div>
        </div>
        <div class="col-lg-4 align-items-center" style="display:flex; flex-direction: column;">
            <img src="pages/Landingpage/wehelp_section/help_3.png"/>
            <div class="wehelp-text">
                Dem veröffentlichen deiner Kampange, der ständigen Auswertung und passen unsere Strategie regelmäßig an
            </div>
        </div>
    </div>
</div>