<div class="lp_head_section">
    <div class="row" style="padding-top: 15%;">
        <div class="col-lg-12 justify-content-center align-items-center" style="display:flex; flex-direction: column;">
            <img src="pages/Landingpage/head_section/construction-icon.png" />
            <h1 class="text-light title-branding">MINDSTORMERS INTERNATIONAL</h1>
            <h4 class="text-light subtitle-branding">We’re helping your business to reach your customers effectifly</h4>

        </div>
    </div>
</div>